APP_TOKEN=<GENERATE_A_UNIQUE_RANDOM_VALUE_AT_LEAST_32_CHARS>
HERMES_API_KEY=<COPY_THIS_INSTANCE_HERMES_API_KEY>
STT_PRIMARY_TOKEN=<COPY_A_UNIQUE_PRIMARY_STT_BEARER_TOKEN>
TTS_PRIMARY_TOKEN=<COPY_A_UNIQUE_PRIMARY_TTS_BEARER_TOKEN>
